page-topic {
	h1{
		text-transform: uppercase;
		font-size: 13px;
	    margin: 0;
    	line-height: 22px;
	}
	.right{
		text-align: right;
	}
	.bottomline{
		border-bottom: 1px solid #a8a8a8;
		padding-bottom: 5px;
	}
}
