<!--
  Generated template for the Lesson page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
	      <button ion-button>
	        <img src="assets/logo-erdem12.png">
	      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-grid class="bottom0" padding>
	      <ion-row>
			<ion-col width-50 class="left">
				<h1 color="dark">Математик</h1>
			</ion-col>
			<ion-col width-50 class="right">
				<h1 color="dark">1-р улирал</h1>
			</ion-col>
	      </ion-row>
	</ion-grid>
	<ion-list no-lines>
	    <ion-item>
	        <ion-card>

			  <ion-card-content>
			    <ion-grid>
			      <ion-row>
					<ion-col width-50 class="left">
						<h2 color="primary">Хичээл 1</h2>
					</ion-col>
					<ion-col width-50 class="right">
						<button ion-button (click)="showtopics()" clear><ion-icon name="ios-arrow-down"></ion-icon></button>
					</ion-col>
			      </ion-row>
				  <ion-row class="topics" *ngIf="show" >
				    <ion-col width-25>
				    	<button color="dark" (click)="gototopic()" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" (click)="gototopic()" ion-button clear>Сэдэв 2 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" (click)="gototopic()" ion-button clear>Сэдэв 3 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" (click)="gototopic()" ion-button clear>Сэдэв 4 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				  </ion-row>
				</ion-grid>
			  </ion-card-content>

			</ion-card>
	    </ion-item>
	    <ion-item>
	        <ion-card>

			  <ion-card-content>
			    <ion-grid>
			      <ion-row>
					<ion-col width-50 class="left">
						<h2 color="primary">Хичээл 2</h2>
					</ion-col>
					<ion-col width-50 class="right">
						<button ion-button clear><ion-icon name="ios-arrow-down"></ion-icon></button>
					</ion-col>
			      </ion-row>
				  <ion-row class="topics" *ngIf="show1" >
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				  </ion-row>
				</ion-grid>
			  </ion-card-content>

			</ion-card>
	    </ion-item>
	    <ion-item>
	        <ion-card>

			  <ion-card-content>
			    <ion-grid>
			      <ion-row>
					<ion-col width-50 class="left">
						<h2 color="primary">Хичээл 3</h2>
					</ion-col>
					<ion-col width-50 class="right">
						<button ion-button clear><ion-icon name="ios-arrow-down"></ion-icon></button>
					</ion-col>
			      </ion-row>
				  <ion-row class="topics" *ngIf="show1" >
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				  </ion-row>
				</ion-grid>
			  </ion-card-content>

			</ion-card>
	    </ion-item>
	    <ion-item>

	        <ion-card>

			  <ion-card-content>
			    <ion-grid>
			      <ion-row>
					<ion-col width-50 class="left">
						<h2 color="primary">Хичээл 4</h2>
					</ion-col>
					<ion-col width-50 class="right">
						<button ion-button clear><ion-icon name="ios-arrow-down"></ion-icon></button>
					</ion-col>
			      </ion-row>
				  <ion-row class="topics" *ngIf="show1" >
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				  </ion-row>
				</ion-grid>
			  </ion-card-content>

			</ion-card>
	    </ion-item>
	    <ion-item>

	        <ion-card>

			  <ion-card-content>
			    <ion-grid>
			      <ion-row>
					<ion-col width-50 class="left">
						<h2 color="primary">Хичээл 5</h2>
					</ion-col>
					<ion-col width-50 class="right">
						<button ion-button clear><ion-icon name="ios-arrow-down"></ion-icon></button>
					</ion-col>
			      </ion-row>
				  <ion-row class="topics" *ngIf="show1" >
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				  </ion-row>
				</ion-grid>
			  </ion-card-content>

			</ion-card>
	    </ion-item>
	    <ion-item>

	        <ion-card>

			  <ion-card-content>
			    <ion-grid>
			      <ion-row>
					<ion-col width-50 class="left">
						<h2 color="primary">Хичээл 6</h2>
					</ion-col>
					<ion-col width-50 class="right">
						<button ion-button clear><ion-icon name="ios-arrow-down"></ion-icon></button>
					</ion-col>
			      </ion-row>
				  <ion-row class="topics" *ngIf="show1" >
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				  </ion-row>
				</ion-grid>
			  </ion-card-content>

			</ion-card>
	    </ion-item>
	    <ion-item>

	        <ion-card>

			  <ion-card-content>
			    <ion-grid>
			      <ion-row>
					<ion-col width-50 class="left">
						<h2 color="primary">Хичээл 7</h2>
					</ion-col>
					<ion-col width-50 class="right">
						<button ion-button clear><ion-icon name="ios-arrow-down"></ion-icon></button>
					</ion-col>
			      </ion-row>
				  <ion-row class="topics" *ngIf="show1" >
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				  </ion-row>
				</ion-grid>
			  </ion-card-content>

			</ion-card>
	    </ion-item>
	    <ion-item>

	        <ion-card>

			  <ion-card-content>
			    <ion-grid>
			      <ion-row>
					<ion-col width-50 class="left">
						<h2 color="primary">Хичээл 8</h2>
					</ion-col>
					<ion-col width-50 class="right">
						<button ion-button clear><ion-icon name="ios-arrow-down"></ion-icon></button>
					</ion-col>
			      </ion-row>
				  <ion-row class="topics" *ngIf="show1" >
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				  </ion-row>
				</ion-grid>
			  </ion-card-content>

			</ion-card>
	    </ion-item>
	    <ion-item>

	        <ion-card>

			  <ion-card-content>
			    <ion-grid>
			      <ion-row>
					<ion-col width-50 class="left">
						<h2 color="primary">Хичээл 9</h2>
					</ion-col>
					<ion-col width-50 class="right">
						<button ion-button clear><ion-icon name="ios-arrow-down"></ion-icon></button>
					</ion-col>
			      </ion-row>
				  <ion-row class="topics" *ngIf="show1" >
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				    <ion-col width-25>
				    	<button color="dark" ion-button clear>Сэдэв 1 <ion-icon name="ios-arrow-forward" item-right></ion-icon></button>
				    </ion-col>
				  </ion-row>
				</ion-grid>
			  </ion-card-content>

			</ion-card>
	    </ion-item>
	</ion-list>
</ion-content>
