page-mypoint {
  ion-col {
      font-size: 12px;
  }
  .no-boroodoi{
    box-shadow: none!important;
  }
  .my-score{
    border-bottom: 1px solid #b0b0b0!important;
    text-transform: uppercase!important;

  }
  .my-col{
      font-size: 13px!important;
  }
  .tenappleten{
    font-size: 10px;
  }
}
