<!--
  Generated template for the Dotest page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
	      <button ion-button>
	        <img src="assets/logo-erdem12.png">
	      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
<ion-grid>
    <ion-row>
      <ion-col width-33 class="variant">
        <span>Монгол хэл</span>
        <span>Вариант: А</span>
        <span>2010: он</span>
        <span>Оноо: 800</span>
      </ion-col>
      <ion-col width-33 class="asuult">
          <p>
            Асуулт<br>
            1
          </p>

      </ion-col>
      <ion-col width-33>
        <h1 class="minut">
          30:39
        </h1>
      </ion-col>
    </ion-row>
</ion-grid>

<ion-slides #qSlider (ionDidChange)="onSlideChanged()" [options]="slideOptions">
  <ion-slide *ngFor="let test of tutsService.tests">
        <ion-grid>
          <ion-row>
            <ion-col>
                <div [innerHTML]="jsonparse(test.content)"></div>
                
            </ion-col>
          </ion-row>
        </ion-grid>
      <ion-list radio-group [(ngModel)]="colors" (ionChange)="colorchanged()">
        <!-- <ion-card *ngFor="let answer of answersdo(test.content)"> -->
        <ion-card *ngIf="(test.content)">
          <ion-item>
            <ion-label>Тийм</ion-label>
            <ion-radio  color="dark" value="1" ></ion-radio >
          </ion-item>
        </ion-card>
        
      </ion-list>
  </ion-slide>



</ion-slides>
<ion-grid>
    
    <ion-row>
        <ion-col width-50 class="left nxtprv">
            <button ion-button color="dark" (click)="slidePrev()" clear>Өмнө</button>
        </ion-col>
        <ion-col width-50 class="right nxtprv">
            <button ion-button color="dark" (click)="slideNext()" clear>Дараагийнх</button>
        </ion-col>
    </ion-row>

</ion-grid>    
</ion-content>
