<!--
  Generated template for the Dotest page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
	      <button ion-button>
	        <img src="assets/logo-erdem12.png">
	      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
<ion-grid>
    <ion-row>
      <ion-col width-33 class="variant">
        <span>Вариант: {{tutsService.testdata['variant']}}</span>
        <span>{{tutsService.testdata['year']}}: он</span>
        <!-- <span>Оноо: </span> -->
      </ion-col>
      <ion-col width-33 class="asuult">
          <p>
            Асуулт<br>
          </p>

      </ion-col>
      <ion-col width-33>
        <h1 class="minut">
          <timer #timer timeInSeconds="{{ tutsService.testdata['time'] ? tutsService.testdata['time'] : '7200' }}"></timer>
        </h1>
      </ion-col>
    </ion-row>
</ion-grid>

<ion-slides #qSlider (ionDidChange)="onSlideChanged()" [options]="slideOptions">
  <ion-slide *ngFor="let test of tutsService.tests; let i = index ">
        <ion-grid>
          <ion-row>
            <ion-col>
                <div [innerHTML]="jsonparse(test.content)"></div>
                
            </ion-col>
          </ion-row>
        </ion-grid>
      <ion-list radio-group [(ngModel)]="colors[i]" (ionChange)="colorchanged(i)">
        <ion-card *ngIf(answers(test.content).a)>
          <ion-item>
            <ion-label>{{answers(test.content).a}}</ion-label>
            <ion-radio  color="a" value="a" (click)="selectanswer('A', test.content)" ></ion-radio >
          </ion-item>
        </ion-card>
        
        <ion-card  *ngIf(answers(test.content).b)>
          <ion-item>
            <ion-label>{{answers(test.content).b}}</ion-label>
            <ion-radio  color="b" value="b" (click)="selectanswer('B', test.content)" ></ion-radio >
          </ion-item>
        </ion-card>

        <ion-card  *ngIf(answers(test.content).c)>
          <ion-item>
            <ion-label>{{answers(test.content).c}}</ion-label>
            <ion-radio  color="c" value="c" (click)="selectanswer('C', test.content)"></ion-radio >
          </ion-item>
        </ion-card>

        <ion-card  *ngIf(answers(test.content).d)>
          <ion-item>
            <ion-label>{{answers(test.content).d}}</ion-label>
            <ion-radio  color="d" value="d" (click)="selectanswer('D', test.content)" ></ion-radio >
          </ion-item>
        </ion-card>

        <ion-card  *ngIf(answers(test.content).e)>
          <ion-item>
            <ion-label>{{answers(test.content).e}}</ion-label>
            <ion-radio  color="e" value="e" (click)="selectanswer('E', test.content)" ></ion-radio >
          </ion-item>
        </ion-card>
        
      </ion-list>
  </ion-slide>
  <ion-slide>
    <br><br>
    <button class="colorwhite" (click)="gotoresult(tutsService.testdata['title'], tutsService.testdata['variant'])" ion-button>Шалгалтыг дуусгах</button>
  </ion-slide>



</ion-slides>
<ion-grid>
    
    <ion-row>
        <ion-col width-50 class="left nxtprv">
            <button ion-button color="dark" (click)="slidePrev()" clear>Өмнө</button>
        </ion-col>
        <ion-col width-50 class="right nxtprv">
            <button ion-button color="dark" (click)="slideNext()" clear>Дараагийнх</button>
        </ion-col>
    </ion-row>

</ion-grid>    
</ion-content>
