page-home {
	.scroll-content{
		background-image: url("../assets/login-bg.png");
	}
	.text-input {
    	font-size: 13px;
	}
	.item-input{
	    position: static;
	    border: 1px solid #acacac;
	    margin-bottom: 20px;
	}
	ion-label {
	    margin: 0px 8px 0px 0;
	}
}
