// http://ionicframework.com/docs/v2/theming/
// Include Bourbon
@import "_bourbon";

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/common";

p{
	font-size:13px !important;
}
.toolbar-background {
    border-color: #fdbe43;
    background: #fdbe43;
}
.logo {
	margin-top:8px;
}
ion-menu{
	ion-icon{
		margin-right: 0.7em;
	}	
	ion-label{
		margin:0 !important;
	}
}
ion-navbar{
	button{
		color:#fff !important;
	}	
}
.segment-button{
	opacity: 1 !important;
}
.button-round {
    padding: 0.7em !important;
    height: 2.2em !important;
}
.choose{
	line-height: normal;
	font-size: 10px;
    align-self: center;
}
.time{
	line-height:normal;
	font-size:12px;
    align-self: center;
    margin-right: 7px;
}
.title{
	align-self: center;	
    border-left: 1px solid #dedede;
    font-size: 12px;
    font-weight: 600;
}
ion-card-content{
	ion-row{
		text-align:center;
	}
}
ion-card ion-card-content {
    padding: 3px 5px 3px 5px !important;
}
.ion-ios-search:before {
    background: #fdbe43;
    color: #fff;
    border-radius: 18px;
    padding: 6px 10px;
}
ion-tabs .tabbar {
    background: #fff !important;
    border-top: 1px solid #fdbe43;
}
.menuprofile{
	border-bottom: 1px solid #dedede !important;
    padding-bottom: 7px;
    margin-top: 5px;
}
.ion-item {
    padding-left: 11px !important;
}
































