// http://ionicframework.com/docs/v2/theming/
// Include Bourbon
@import "_bourbon";

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/common";

p{
	font-size:13px !important;
}
.toolbar-background {
    border-color: #fdbe43;
    background: #fdbe43;
}
.logo {
	margin-top:8px;
}
ion-menu{
	ion-icon{
		margin-right: 0.7em;
	}	
	ion-label{
		margin:0 !important;
	}
}
ion-navbar{
	button{
		color:#fff !important;
	}	
}
.segment-button{
	opacity: 1 !important;
}
.button-round {
    padding: 0.7em !important;
    height: 2.2em !important;
}
.button-round-ios {
    padding: 0.4em !important;
    height: 1.5em !important;
}
.choose{
	line-height: normal;
	font-size: 10px;
    align-self: center;
}
.time{
	line-height:normal;
	font-size:12px;
    align-self: center;
    margin-right: 7px;
}
.title{
	align-self: center;	
    
    font-size: 12px;
    font-weight: 600;
}
.card-ios{
	.title{
		font-size: 11px;
	}
}
ion-card-content{
	ion-row{
		text-align:center;
	}
}
ion-card ion-card-content {
    padding: 3px 5px 3px 5px !important;
}
.ion-ios-search:before {
    background: #fdbe43;
    color: #fff;
    border-radius: 18px;
    padding: 6px 10px;
}
ion-tabs .tabbar {
    background: #fff !important;
    border-top: 1px solid #fdbe43 !important;
}
.menuprofile{
	border-bottom: 1px solid #dedede !important;
    padding-bottom: 7px;
    padding-top: 5px;
}
.ion-item {
    padding-left: 11px !important;
}
.segment-ios .segment-button.segment-activated {
    color: #fdbe43;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #fdbe43;
    margin-bottom: 1px;
}
.segment-ios .segment-button{
	border:0;
	border-bottom:1px solid #eee;
	margin-bottom: 1px;
}
.menuprofile{
	.item-inner {
    	border-bottom: 0 !important;
	}
}
.timerclass{
	margin: 0 !important;
	width: auto;
    border: 0;
    box-shadow: none;
    ion-item{
    	padding: 0;
    } 
    ion-label, button{
    	margin:0 !important;
    	padding: 0 !important;
    }
    button{
    	height: 1.8em;
    }

}
.menulogo{
    height: 40px;
    margin: 5px 60px 0;
}
.tab-button-text {
    margin-top: 0;
}




























