<!--
  Generated template for the Test page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
	      <button ion-button>
	        <img src="assets/logo-erdem12.png">
	      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >
    <div>
    <ion-segment [(ngModel)]="cond">
      <ion-segment-button value="niigem">
        Нийгмийн ухаан
      </ion-segment-button>
      <ion-segment-button value="baigali">
        Байгалийн ухаан
      </ion-segment-button>
    </ion-segment>
  </div>
    <div [ngSwitch]="cond">

    <ion-list no-lines *ngSwitchCase="'niigem'">
      <ion-item  *ngFor="let tuts of tutsService.natural">
          <ion-card>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col class="time" width-20>16<br>минут</ion-col>
                    <ion-col class="title" width-33>{{tuts.title}}</ion-col>
                    <ion-col class="right" width-50>
                        <button  (click)="showtests(tuts.id)" class="choose" color="dark" ion-button clear>Шалгалт<br>сонгох <ion-icon color="primary" name="ios-arrow-down" item-right></ion-icon></button>
                    </ion-col>
                  </ion-row>
                  <div *ngIf="show==tuts.id">
                  <ion-row>
                    <ion-col *ngFor="let year of tuts.years" width-50>
                            
                        <ion-grid  >
                    
                            <ion-row>
                                <ion-col width-33>
                                    <span class="year-back">{{ year.year }}</span>
                                </ion-col>
                                <ion-col width-66 class="variant" width-50>
                                    Вариант сонго
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col  *ngFor="let test of year.test" width-33>
                                    <button  ion-button (click)="gotostarttest(test)" color="dark" outline round>{{test.variant}}</button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    
                  </ion-row>
                  </div>
                </ion-grid>
              </ion-card-content>
          </ion-card>
      </ion-item>
      
    </ion-list>

    <ion-list no-lines *ngSwitchCase="'baigali'">
      <ion-item  *ngFor="let tuts of tutsService.social">
          <ion-card>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col class="time" width-20>16<br>минут</ion-col>
                    <ion-col class="title" width-33>{{tuts.title}}</ion-col>
                    <ion-col class="right" width-50>
                        <button class="choose" color="dark" ion-button clear>Шалгалт<br>сонгох <ion-icon color="primary" name="ios-arrow-down" item-right></ion-icon></button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
          </ion-card>
      </ion-item>
      
    </ion-list>

    </div>
</ion-content>
